---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import GitHub from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
---

<Layout
	title="Portafolio de Sebastian - Desarrollador y programador web con un a침o de experiencia"
	description="Contrata a midudev para crear tu sitio"
>
	<main>
		<SectionContainer class="py-44 pb-24">
			<img
				class="rounded-full size-12"
				src="https://avatar.iran.liara.run/username?username=Seba+Sanhue"
				alt="Seba Foto"
			/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, Soy Sebasti치n Sanhueza Tapia
				<a
					href="https://www.linkedin.com/in/sebastiansanhuezatapia/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>

			<h2 class="text-2xl text-wrap">
				<span class="text-yellow-200/90 opacity-80">+1 a침o de experiencia.</span
				>
				<span class="text-red-100/90">
					Desarrollador Web y Estratega digital (SEO y Ads en google y RRSS)
				</span>
				<span>Y adem치s bueno para el catre.</span>
			</h2>

			<nav class="flex gap-x-4 mt-8">
				<SocialPill href="https://www.linkedin.com/in/sebastiansanhuezatapia/">
					<Linkedin class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/SuKuShaing">
					<GitHub class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:Sebastian.sanhueza.t@usach.cl">
					<MailIcon class="size-6" />
					Sebastian.sanhueza.t@usach.cl
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia" class="mt-20 pt-5">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				Experiencia Laboral</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
